<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MelaMateApp</title><base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
		<style>
			body {background-color: lightblue;
        height:90vh;
      }
		</style>
	</head>
	<body>
		<div class="header">
			<style>h1 {text-align: center;}</style>
			<div class="p-3 mb-2 bg-warning text-dark">
				<i class="bi bi-brightness-high-fill"></i>
				<h1 routerLink="/home">Mole Scanning Tool
					<svg  xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 16 16">
						<path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
						<path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
						<path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
						<path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
						<path d="M12 9h2V8h-2v1Z"/>
					</svg>
				</h1>
			</div>
		</div>
		<hr>
		<div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="bg-success p-2 text-white"><h2>Upload Image</h2></div>
							</div>
              <div class="card-body bg-success p-2" style="height: 500px; --bs-bg-opacity: .5;">
                <div *ngIf="loading" class="loading-animation">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only"></span>
                    </div>
                  </div>
                </div>

                <div *ngIf="!loading">
                  <div class="container">
                    <form (submit)="onSubmit($event)" class="row align-items-center">
                      <div class="col-md-9">
                        <input type="file" (change)="onFileSelected($event)" class="form-control" />
                      </div>
                      <div class="col-md-3">
                        <button type="submit" class="btn btn-primary w-100">
                          Upload <i class="bi bi-upload"></i>
                        </button>
                      </div>
                    </form>

                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                          Please note that the result is based on a risk assessment and is not a conclusive diagnosis. We strongly recommend consulting a doctor for a professional evaluation.
                        </div>
                      </div>
                    </div>

                    <div class="row mt-3">
                      <div class="col-md-12">
                        <div class="alert alert-success" role="alert" *ngIf="response">
                          {{ response }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
